@font-face {
  font-family: "Playfair Display";
  src: url(../../fonts/PlayfairDisplay-Regular.ttf);
}

.emailField {
  font-family: "Playfair Display";
}

.background-text {
  display: none;
}

@media screen and (min-width: 1024px) {
  .background-text {
    display: block;
  }
}