#root {
  max-width: 1280px;
  padding: 2rem;
}

@font-face {
  font-family: "Regular";
  src: local("PlayfairDisplay-Regular"),
    url("./fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

body {
  font-family: "Playfair-Display";
}
