:root {
  
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(9, 8, 8, 0.87);
  background-color: #f9f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Regular";
  src: local("PlayfairDisplay-Regular"),
    url("./fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

body {
  background-image: url(/test.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  padding-top: 180px;
  filter: grayscale(50%);
  -moz-filter: grayscale(30%);

  
}
