* {
  margin: 0;
  padding: 0;
  border: 0;
}

.home-btn{
  color:white;
  background-color: #5A5252;
}

.AppBar-transparent {
  background-color: transparent;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

.css-1g467ij-MuiToolbar-root {
  box-shadow: none;
}
h1 {
  color: whitesmoke;
  display: flex;
  justify-content: flex-start;
  
}