.background-text {
  display: none;
}

@media screen and (min-width: 1024px) {
  .background-text {
    display: block;
  }
}
/* @media (max-width: 600px) {
  .login-button {
    position: fixed;
    top: 0;
    left: 0;
    margin: px;
  }
} */